/* GENERAL */
html {
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    overflow: hidden;
    width: 1px;
    /* Keep the layout */
    position: absolute;
    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    /* browsers in the future */
    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
}

.accent-button {
    background: var(--clr-accent);
    color: var(--clr-surface);
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

:root {
    --clr-accent: linear-gradient(-45deg, #38ADAE, #CD295A);
    --clr-primary: #213A48;
    --clr-secondary: #5F2F0C;
    --clr-text: #111111;
    --clr-surface: #EEEEEE;

    --ff-base: "Rubik", sans-serif;
    --ff-accent: "Rubik Mono One", sans-serif;

    --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
    --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
    --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
    --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
    --fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-accent: linear-gradient(-45deg, #38ADAE, #CD295A);
        --clr-primary: #213A48;
        --clr-secondary: #5F2F0C;
        --clr-surface: #111111;
        --clr-text: #EEEEEE;
    }
}

body {
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    line-height: 1.5;
    color: var(--clr-text);
    background-color: var(--clr-surface);
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    color: var(--clr-primary);
    text-wrap: balance;
}

h1 {
    font-size: var(--fs-700);
    --flow-space: 2em;
}

h2 {
    font-size: var(--fs-600);
    --flow-space: 1.5em;
}

h3 {
    font-size: var(--fs-500);
}

a {
    color: var(--clr-primary);
    text-decoration: none;
    transition: color .5s ease-in-out;
}

a:hover,
a:focus {
    color: var(--clr-secondary);
}

::marker {
    color: var(--clr-secondary);
}

h1 {
    font-size: var(--fs-700);
}


/* HEADER */
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--clr-surface);
}

#menu {
    display: none;
}

.header-container a {
    padding: .5rem;
}

.hamburger {
    width: 5rem;
    transition: rotate .5s ease-in-out;
}

.hamburger[clicked="true"] {
    rotate: .125turn;
}

.hamburger .line {
    stroke-dasharray: 60 31 60 300;
    transition: stroke-dashoffset .5s ease-in-out, stroke-dasharray .5s ease-in-out;
}

.hamburger[clicked="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

#menu[display="true"] {
    display: block;
    position: fixed;
    top: 7rem;
    left: 0;
    height: calc(100vh - 7rem);
    width: 100vw;
    background-color: var(--clr-surface);
}

#menu[display="true"] > .nav-links {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    text-align: center;
}

.nav-links li a {
    display: inline-block;
    position: relative;
    color: var(--clr-surface);
    text-decoration: none;
    width: 10rem;
    margin-block: .5rem;
    transition: transform .5s ease-in-out;
}

.nav-links li a:hover,
.nav-links li a:focus {
   transform: scale(1.5);
}

.nav-links .active::after {
    content: "";
    width: 1rem;
    aspect-ratio: 1;
    background: inherit;
    position: absolute;
    top: 80%;
    left: calc(50% - .5rem);
    border-radius: 50%;
    border: .25rem solid;
}

.nav-links li a:not(.accent-button) {
    background-color: var(--clr-text);
}

/* MAIN */
.main-container {
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;
    margin-top: 7rem;
}

/* FOOTER */
footer {
    width: 100%;
    height: 6rem;
    border-top: .1em solid var(--primary-color);
}

footer ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
